<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317812095744-dqv3q7pp6kpofn42devq5thaue6apkv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317812095744-dqv3q7pp6kpofn42devq5thaue6apkv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDcPt_M4CKuVNdN-dFvcNju3QtnAk8A11w</string>
	<key>GCM_SENDER_ID</key>
	<string>317812095744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.shanta.sajid.AuthWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-bde3b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-bde3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317812095744:ios:49891381cb2f22a6b511e5</string>
</dict>
</plist>